{% extends "index.html" %}
{% block content %}
    <div class="shop">
        <h2>Basket</h2>
        <div class="row row-cols-3">
            {% if items|length <= 0 %}
                <span>Nothing in your basket yet.</span>
            {% else %}
            {% for img, title, price, id in items %}
                <div class="col card border-primary">
                    <img src="{{ url_for('static', filename='images/' ~ img) }}" class="card-img-top" alt="{{ title }}">
                    <div class="card-body">
                        <div class="shop-card-title"> {{ title }} </div>
                        <div class="shop-card-price"> {{ price }} </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
        {% if items|length > 0 %}
        <a class="btn btn-primary" href="{{ url_for('checkout.checkout') }}"> Checkout </a>
        {% endif %}
    </div>
{% endblock %}




