{% extends "index.html" %}
{% block content %}
<div class="admin-login">
    <h2>Admin Login</h2>
    <form class="admin-login-form" method="post">
        <div class="mb-3">
            <label for="login-username" class="form-label">Username:</label>
            <input class="form-control" name="username" type="text" id="login-username" placeholder="your_username" required>
        </div>
        <div class="mb-3">
            <label for="login-password" class="form-label">Password:</label>
            <input class="form-control" name="password" type="password" id="login-password" placeholder="password" required>
        </div>
        <button type="submit" class="btn btn-primary">
            LOGIN
        </button>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script>
    form = document.querySelector('.admin-login-form')
    form?.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData(form);

        try{
            const res = await fetch(form.action, {
                method: form.method,
                body: formData
            });

            const data = await res.json();

            switch(res.status){
                case (200):
                    location.href = "{{ url_for('admin.dash') }}";
                    break;
                case (418):
                    location.href = "{{ url_for('admin.dash') }}";
                    break;
                case (400):
                    pm_alert(document.getElementbyId('alert-cont'), { message: data.error });
                    console.error(data);
                    break;
                case (401):
                default:
                    pm_alert(document.getElementById('alert-cont'), { message: "Dubious credentials!" });
                    if (res.status != 401){
                        console.error("Unrecognised status code: ", res.status);
                        console.error(data);
                    }
            }
        } catch (e){
            console.error(e);
            pm_alert(document.getElementbyId('alert-cont'));
        }

    });
</script>
{% endblock %}

