name: Run Tests

on:
  pull_request:
    branches: [ master, dev ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: mbstring, dom, curl, libxml, mysql, sqlite3
          coverage: none

      - name: Install Dependencies
        run: composer install --prefer-dist --no-ansi --no-interaction --no-progress

      - name: Prepare Laravel Environment
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Execute Tests
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: ":memory:"
        run: php artisan test
